<h2>Add a new celebrity</h2>
<form action="/celebrities/create" method="post">
    <Label>Name: 
        <input placeholder="i.e. Lightning McQueen" type="text" name="name">
    </Label>
    <Label>Occupation:
        <input placeholder="i.e. Race Car" type="text" name="occupation">
    </Label>
    <Label>Catch Phrase:
        <input placeholder="i.e. Kachow" type="text" name="catchPhrase">
    </Label>
    <input type="submit" value="Create new celebrity">
</form>